.App footer {
  color: #808080;
  font-style: italic;
  margin: 20px;
  text-align: center;
}

.App a {
  color: #5ea3a3;
}

.App .container {
  max-width: 60%;
}

.App .App-header {
  font-size: 40px;
  font-weight: bold;
  margin: 25px;
  text-align: center;
}